/* Base Application Styles */
.am-topbar{
  background: #5D737E;
}
body{
  background: #64b6ac;
  background-size: 400% 400%;

  /*-webkit-animation: BackGroundColorAnimation 15s ease infinite;
  -moz-animation: BackGroundColorAnimation 15s ease infinite;
  animation: BackGroundColorAnimation 15s ease infinite;*/
}
@-webkit-keyframes BackGroundColorAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes BackGroundColorAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes BackGroundColorAnimation {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
